header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(128, 128, 128, 0.218);
  padding: 2rem;
  border-radius: 20px;
}
.form label {
  font-family: 800;
  color: rgb(49, 49, 49);
}

#deleteUser {
  margin-left: 8rem;
  margin-top: 1rem;
}

#timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#contatore {
  margin-left: 1rem;
  color: red;
  font-size: 2rem;
  margin: 0;
}

#saveUser {
  background-color: green;
  color: white;
  border: 0;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  font-size: 1rem;
}
#deleteUser {
  background-color: red;
  color: white;
  border: 0;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  font-size: 1rem;
}
